.presentation__main {
  @include background;
  flex-direction: column;
  height: 100%;
  .picture__text {
    @include fadeInAnimation(1.5s, 0s, 1);
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: space-evenly;
    width: 85%;
    margin-top: 2rem;
    .picture__wrapper {
      height: 22rem;
      position: relative;
      width: 22rem;
      &::before {
        animation: spin 60s linear infinite;
        border: 6px dashed #89c2d9;
        border-radius: 50%;
        content: '';
        height: 23.75rem;
        left: -0.93rem;
        position: absolute;
        top: -0.93rem;
        width: 23.75rem;
      }
      .presentation__picture {
        align-content: center;
        border-radius: 50%;
        display: flex;
        height: 100%;
        justify-content: center;
        overflow: hidden;
        width: 100%;
      }
    }
    .presentation__description {
      font-size: 1.25rem;
      padding: 1.5rem;
      width: 45%;
      background-color: rgba($color: #c7ebf0, $alpha: 0.7);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
    }
  }
  .coding__skills {
    @include fadeInAnimation(1.5s, 2s, 1);
    background-color: rgba($color: #c7ebf0, $alpha: 0.7);
    border-radius: 10%;
    font-size: 1.25rem;
    justify-content: space-evenly;
    margin: 3rem 0;
    opacity: 0;
    padding: 2rem 2rem 3rem 2rem;
    width: 80%;
    p,
    h2 {
      margin-left: 6.25rem;
    }
    .skills {
      color: #fff;
      display: flex;
      font-size: 1.25rem;
      justify-content: space-evenly;
      list-style: none;
      padding-top: 1.25rem;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.25rem;
        height: 6.25rem;
        padding: 0.5rem;
        border-radius: 50%;
      }
      .icon__react {
        color: #023e8a;
        border: 3px solid #023e8a;
      }
      .icon__scss {
        color: #e05780;
        border: 3px solid #e05780;
      }
      .icon__html {
        color: #db3a34;
        border: 3px solid #db3a34;
      }
      .icon__js {
        color: #03012c;
        border: 3px solid #03012c;
      }
      .icon__css {
        color: #023e8a;
        border: 3px solid #023e8a;
      }
    }
  }
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 1280px) {
  .presentation__main {
    .picture__text {
      margin-top: 5rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .presentation__main {
    .picture__text {
      margin-top: 2rem;
      width: 85%;
      flex-direction: column;
      .picture__wrapper {
        height: 15rem;
        width: 15rem;
        &::before {
          height: 16.75rem;
          width: 16.75rem;
        }
        .presentation__picture {
          height: 100%;
          width: 100%;
        }
      }
      .presentation__description {
        margin-top: 2rem;
        padding: 1rem;
        font-size: 0.75rem;
        width: 100%;
        border-radius: 2px;
      }
    }
    .coding__skills {
      margin: 1rem;
      width: 85%;
      font-size: 0.75rem;
      padding: 1rem;
      border-radius: 5px;
      h2 {
        text-align: center;
        margin-left: 0;
      }
      p {
        margin-left: 0;
      }
      .skills {
        font-size: 0.5rem;
        padding-top: 0.5rem;
        li {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }
}
