.projects__box {
  background-color: rgba($color: #c7ebf0, $alpha: 0.5);
  border-radius: 0px 10% 0px 10%;
  @include fadeInAnimation(1.5s, 0s, 1);
  border-top: 3px solid #2d3a3a;
  border-bottom: 3px solid #47026c;
  box-shadow: 0px 4px 5px #34a0a4, 0px -4px 5px #34a0a4;
  height: 90%;
  width: 1100px;
  .projects__slideshow {
    margin: 0 auto;
    width: 80%;
    .project__title {
      text-align: center;
      width: 30%;
      padding: 30px 0px 15px 0px;
      margin: 0 auto;
      font-size: 30px;
    }
    .project__text {
      width: 80%;
      font-size: 25px;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 30px;
    }
  }
}
