.data__box {
  background-color: rgba($color: #1e212d, $alpha: 0.65);
  border-radius: 25%;
  border-left: white solid 3px;
  border-right: white solid 3px;
  display: flex;
  @include fadeInAnimation(1.5s, 0s, 1);
  justify-content: space-around;
  padding: 30px;
  width: 60%;
  .data__logo {
    @include fadeInAnimation(1.5s, 1.75s, 1);
    opacity: 0;
    border-radius: 50%;
    border: 10px solid #219ebc;
    color: #fff;
    font-size: 30px;
    padding: 70px;
    margin-right: 20px;
  }
  .data__desc {
    @include fadeInAnimation(1.5s, 1.55s, 1);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $ubuntu;
    width: 500px;
    .data__name {
      color: #fde8e9;
      font-size: 80px;
    }
    .data__class {
      color: #fde8e9;
      font-size: 50px;
    }
  }
}
