/* PC */
.nav__main {
  align-items: center;
  background: linear-gradient(180deg, #454b44 70%, #28536b 100%);
  display: flex;
  font-family: $noto-sans;
  justify-content: space-between;
  width: 100%;
  .nav__mobile {
    opacity: 0;
    color: $letters;
    order: 2;
    i {
      padding: 1rem;
      border: #fff solid 2px;
      border-radius: 50%;
    }
  }
  .nav__pc {
    display: flex;
    font-family: $noto-sans;
    justify-content: space-between;
    padding: 2rem 0 2.5rem 0;
    width: 100%;
    .nav__fist__section {
      display: flex;
      width: 50%;
      .link {
        color: $letters;
        font-size: 1.5rem;
        text-decoration: none;
        padding-left: 3.25rem;
        i {
          padding-right: 0.5rem;
        }
      }
    }
    .nav__second__section {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 15%;
      order: 3;
      .link {
        color: $letters;
        font-size: 1.5rem;
        text-decoration: none;
        i {
          padding-right: 0.5rem;
        }
      }
    }
  }
}

//Responsive
@import './responsive/nav__mobile__tablet';
@import './responsive/nav__mobile__landscape';
