.nav__main {
  align-items: center;
  background: #454b44;
  background: linear-gradient(180deg, #454b44 70%, #28536b 100%);
  display: flex;
  font-family: $noto-sans;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100vw;
  justify-content: space-between;
  .nav__fist-section {
    display: flex;
    width: 50%;
    padding-bottom: 20px;
    padding-top: 5px;
    .link {
      text-decoration: none;
      color: $letters;
      padding-left: 50px;
      font-size: $nav-size;
      i {
        padding-right: 10px;
      }
    }
  }

  .nav__second-section {
    display: flex;
    align-items: center;
    width: 15%;
    padding-bottom: 20px;
    padding-top: 5px;
    justify-content: center;
    .link {
      text-decoration: none;
      color: $letters;
      font-size: $nav-size;
      i {
        padding-right: 10px;
      }
    }
  }
}
