@media screen and (max-width: 1440px) {
  .data__main {
    .data__box {
      width: 85%;
      .data__logo {
        height: fit-content;
        border-color: #ffaa00;
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .data__main {
    .data__box {
      width: 85%;
    }
  }
}
