@media screen and (max-width: 800px), (max-width: 1024px) {
  .nav__main {
    .nav__mobile {
      visibility: hidden;
    }
    .nav__pc {
      width: 100%;
      .nav__fist__section {
        width: fit-content;
        font-size: 1rem;
      }
      .nav__second__section {
        width: fit-content;
        font-size: 1rem;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .nav__main {
    display: flex;
    flex-direction: column;
    .nav__mobile {
      visibility: visible;
      order: 1;
      opacity: 1;
      padding: 0.8rem 0;
      i {
        padding: 0.5rem;
        font-size: 0.75rem;
      }
    }
    .nav__pc {
      visibility: hidden;
      position: absolute;
      transform: translateY(-20.875rem);
      flex-direction: column;
      padding: 0;
      .nav__fist__section {
        width: 100%;
        flex-direction: column;
        align-items: center;
        order: 2;
        .link {
          border-bottom: #fff 2px solid;
          font-size: 1rem;
          padding-left: 0;
          padding: 1rem 0;
        }
      }
      .nav__second__section {
        width: 100%;
        flex-direction: column;
        margin-bottom: 0.5rem;
        .link {
          font-size: 1rem;
          padding: 1rem 0;
        }
      }
      &.show {
        position: relative;
        visibility: visible;
        transform: translateY(1rem);
        transition: all 0.5s ease;
      }
    }
  }
}
