@media screen and (max-width: 1366px) and (min-height: 1020px) and (max-height: 1024px) and (orientation: landscape) {
  .slider__item {
    width: 95%;
    .slider__text {
      .buttons__links {
        font-size: 1.25rem;
        .gh__link {
          padding: 0.75rem 1rem;
          &:hover {
            padding: 1rem 1.25rem;
          }
        }
        .hk__link {
          padding: 0.75rem 1rem;
          &:hover {
            padding: 1rem 1.25rem;
          }
        }
      }
    }
    &:hover {
      .slider__text {
        .desc__title {
          font-size: 1.5rem;
        }
        .desc__text {
          margin: 1rem 0 4rem 0;
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: 1030px) and (orientation: landscape) {
  .slider__item {
    width: 95%;
    .slider__text {
      .buttons__links {
        font-size: 0.85rem;
        .gh__link {
          padding: 0.75rem 1rem;
          &:hover {
            padding: 1rem 1.25rem;
          }
        }
        .hk__link {
          padding: 0.75rem 1rem;
          &:hover {
            padding: 1rem 1.25rem;
          }
        }
      }
    }
    &:hover {
      .slider__text {
        .desc__title {
          font-size: 1.25rem;
        }
        .desc__text {
          margin: 1rem 0 4rem 0;
          font-size: 1.25rem;
        }
      }
    }
  }
}
@media screen and (max-width: 815px) and (orientation: landscape) {
  .slider__item {
    width: 95%;
    .slider__text {
      .buttons__links {
        font-size: 0.75rem;
        .gh__link {
          padding: 0.75rem 1rem;
          &:hover {
            padding: 1rem 1.25rem;
          }
        }
        .hk__link {
          padding: 0.75rem 1rem;
          &:hover {
            padding: 1rem 1.25rem;
          }
        }
      }
    }
    &:hover {
      .slider__text {
        .desc__title {
          font-size: 1.125rem;
        }
        .desc__text {
          margin: 1rem 0 4rem 0;
          font-size: 1.125rem;
        }
      }
    }
  }
}
@media screen and (max-width: 750px) and (orientation: landscape) {
  .slider__item {
    width: 95%;
    .slider__text {
      .buttons__links {
        font-size: 0.75rem;
        .gh__link {
          padding: 0.75rem 1rem;
          &:hover {
            padding: 1rem 1.25rem;
          }
        }
        .hk__link {
          padding: 0.75rem 1rem;
          &:hover {
            padding: 1rem 1.25rem;
          }
        }
      }
    }
    &:hover {
      .slider__text {
        .desc__title {
          font-size: 1.125rem;
        }
        .desc__text {
          margin: 1rem 0 3rem 0;
          font-size: 1.125rem;
        }
      }
    }
  }
}
@media screen and (max-width: 675px) and (orientation: landscape) {
  .slider__item {
    width: 95%;
    .slider__text {
      .buttons__links {
        font-size: 0.5rem;
        .gh__link {
          padding: 0.65rem 0.9rem;
          &:hover {
            padding: 0.9rem 1.15rem;
          }
        }
        .hk__link {
          padding: 0.65rem 0.9rem;
          &:hover {
            padding: 0.9rem 1.15rem;
          }
        }
      }
    }
    &:hover {
      .slider__text {
        .desc__title {
          font-size: 1rem;
        }
        .desc__text {
          margin: 1rem 0 3rem 0;
          font-size: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 575px) and (orientation: landscape) {
  .slider__item {
    width: 95%;
    .slider__text {
      .buttons__links {
        width: 60%;
        margin-bottom: 1rem;
        font-size: 0.5rem;
        .gh__link {
          padding: 0.45rem 0.75rem;
          &:hover {
            padding: 0.6rem 0.95rem;
          }
        }
        .hk__link {
          padding: 0.45rem 0.75rem;
          &:hover {
            padding: 0.6rem 0.95rem;
          }
        }
      }
    }
    &:hover {
      .slider__text {
        .desc__title {
          font-size: 1rem;
        }
        .desc__text {
          margin: 1rem 0 2rem 0;
          font-size: 1rem;
        }
      }
    }
  }
}
