@media screen and (min-width: 405px) and (max-width: 600px) {
  .slider__item {
    width: 95%;
    .slider__text {
      .buttons__links {
        font-size: 0.75rem;
        .gh__link {
          padding: 0.6rem 0.95rem;
          &:hover {
            padding: 0.75rem 1.05rem;
          }
        }
        .hk__link {
          padding: 0.6rem 0.95rem;
          &:hover {
            padding: 0.75rem 1.05rem;
          }
        }
      }
    }
    &:hover {
      .slider__text {
        .desc__title {
          font-size: 0.825rem;
        }
        .desc__text {
          margin: 1rem 0 1.25rem 0;
          font-size: 0.825rem;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .slider__item {
    width: 95%;
    .slider__text {
      .buttons__links {
        font-size: 0.625rem;
        .gh__link {
          padding: 0.5rem 0.85rem;
          &:hover {
            padding: 0.65rem 0.95rem;
          }
        }
        .hk__link {
          padding: 0.5rem 0.85rem;
          &:hover {
            padding: 0.65rem 0.95rem;
          }
        }
      }
    }
    &:hover {
      .slider__text {
        .desc__title {
          font-size: 1rem;
        }
        .desc__text {
          margin: 1rem 0 1.25rem 0;
          font-size: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .slider__item {
    .slider__text {
      .buttons__links {
        width: 100%;
        font-size: 0.5rem;
        .gh__link {
          padding: 0.5rem 0.85rem;
          &:hover {
            padding: 0.65rem 0.95rem;
          }
        }
        .hk__link {
          padding: 0.5rem 0.85rem;
          &:hover {
            padding: 0.65rem 0.95rem;
          }
        }
      }
    }
    &:hover {
      .slider__text {
        .desc__title {
          font-size: 0.75rem;
        }
        .desc__text {
          margin: 0.75rem 0 0.5rem 0;
          font-size: 0.75rem;
        }
      }
    }
  }
}
