.slider__item {
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0 auto;
  img {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
  }
  .slider__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: 0;
    width: 100%;
    position: absolute;
    .buttons__links {
      align-items: center;
      display: flex;
      font-size: 1.25rem;
      height: 3rem;
      justify-content: space-around;
      width: 25rem;
      .gh__link {
        background-color: #003049;
        border: 2px solid #eae2b7;
        border-radius: 15px;
        color: #fff;
        padding: 0.75rem 1rem;
        text-decoration: none;
        transition: all 0.5s ease;
        &:hover {
          color: #fcbf49;
          padding: 1rem 1.25rem;
        }
      }
      .hk__link {
        background-color: #003049;
        border: 2px solid #eae2b7;
        border-radius: 15px;
        color: #fff;
        padding: 0.75rem 1rem;
        text-decoration: none;
        transition: all 0.5s ease;
        &:hover {
          padding: 1rem 1.25rem;
          color: #fcbf49;
        }
      }
    }
  }

  &:hover {
    img {
      filter: brightness(35%);
    }
    .slider__text {
      filter: none;
      opacity: 1;
      text-align: center;
      .desc__title {
        color: #fff;
        font-size: 2rem;
        margin: 0;
      }
      .desc__text {
        color: #fff;
        font-size: 1.5rem;
        margin: 3rem 0;
      }
    }
  }
}

@import './responsive/slider__laptop';
@import './responsive/slider__mobile';
@import './responsive/slider__tablet';
@import './responsive/slider__landscape';
