.slider__item {
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  height: 37.5rem;
  justify-content: center;
  margin: 0px auto;
  overflow: hidden;
  width: 95%;
  img {
    position: relative;
    transition: all 0.5s ease;
  }
  .slider__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: 0;
    width: 100%;
    .buttons__links {
      align-items: center;
      display: flex;
      font-size: 1.25rem;
      height: 3rem;
      justify-content: space-around;
      width: 25rem;
      .gh__link {
        background-color: #003049;
        border: 2px solid #eae2b7;
        border-radius: 15px;
        color: #fff;
        padding: 0.75rem 1rem;
        text-decoration: none;
        transition: all 0.5s ease;
        &:hover {
          color: #fcbf49;
          padding: 1rem 1.25rem;
        }
      }
      .hk__link {
        background-color: #003049;
        border: 2px solid #eae2b7;
        border-radius: 15px;
        color: #fff;
        padding: 0.75rem 1rem;
        text-decoration: none;
        transition: all 0.5s ease;
        &:hover {
          padding: 1rem 1.25rem;
          color: #fcbf49;
        }
      }
    }
  }

  &:hover {
    img {
      filter: brightness(35%);
      right: 12.5rem;
    }
    .slider__text {
      filter: none;
      opacity: 1;
      position: absolute;
      text-align: center;
      .desc__title {
        color: #fff;
        font-size: 2rem;
        margin: 0;
      }
      .desc__text {
        color: #fff;
        font-size: 1.5rem;
        margin: 3rem 0;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .slider__item {
    margin: 0;
    width: 100%;
    height: 17rem;
    .slider__text {
      .buttons__links {
        width: 15rem;
        .gh__link {
          padding: 0.375rem 0.5rem;
          font-size: 0.75rem;
          &:hover {
            padding: 0.5rem 0.625rem;
            color: #fcbf49;
          }
        }
        .hk__link {
          padding: 0.375rem 0.5rem;
          font-size: 0.75rem;
          &:hover {
            padding: 0.5rem 0.625rem;
            color: #fcbf49;
          }
        }
      }
    }
    &:hover {
      img {
        right: 7.5rem;
      }
      .slider__text {
        .desc__title {
          font-size: 1rem;
        }
        .desc__text {
          font-size: 1rem;
          margin: 2rem 0;
        }
      }
    }
  }
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .slider__item {
    margin: 1rem auto;
    width: 90%;
    height: 17rem;
    .slider__text {
      .buttons__links {
        width: 15rem;
        .gh__link {
          padding: 0.375rem 0.5rem;
          font-size: 0.75rem;
          &:hover {
            padding: 0.5rem 0.625rem;
            color: #fcbf49;
          }
        }
        .hk__link {
          padding: 0.375rem 0.5rem;
          font-size: 0.75rem;
          &:hover {
            padding: 0.5rem 0.625rem;
            color: #fcbf49;
          }
        }
      }
    }
    &:hover {
      img {
        right: 7.5rem;
      }
      .slider__text {
        .desc__title {
          font-size: 1rem;
        }
        .desc__text {
          font-size: 1rem;
          margin: 2rem 0;
        }
      }
    }
  }
}
